<% 
    const collection= "donHang" 
    const linkPrefix= systemConfig.prefixAdmin + `/${collection}/`   
%>
    <div class="card card-info card-outline">
        <form action= <%= linkPrefix + 'form'%> method="POST" class="mb-0" id ="form-donHang">
            <div class="card-body">
                <h1>
                    <%= pageTitle%>
                </h1>
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label text-sm-right required">Mã Giảm Giá</label>
                    <div class="col-xs-12 col-sm-8">
                        <input type="text" id="name" name="name" class="form-control form-control-sm" value="<%= items.name%>">
                        <span class="form-message" style = "color: red;"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label text-sm-right required">Giới Hạn Tiền Giảm</label>
                    <div class="col-xs-12 col-sm-8">
                        <input type="number" id="gioi_han_tien_giam" name="gioi_han_tien_giam" class="form-control form-control-sm" value="<%= items.gioi_han_tien_giam%>">
                        <span class="form-message" style = "color: red;"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label text-sm-right required">Loại</label>
                    <div class="col-xs-6 col-sm-4 loaiGiamGia">
                        <input type="radio" class="inputRadio" name="parent" checked value="true">
                        <label for="html">Phần Trăm</label>
                        <input type="number" id="rate" name="rate" class="form-control form-control-sm inputloaiGiamGia" value="<%= items.rate%>" min="0" max="100">
                    </div>
                    <div class="col-xs-6 col-sm-4 loaiGiamGia">
                        <input type="radio" class="inputRadio" name="parent" <%=(items.parent=="false" ? 'checked' : '' ) %> value="false">
                        <label for="css">Số Tiền</label>
                        <input type="number" id="rate" name="rate" class="form-control form-control-sm inputloaiGiamGia" value="<%= items.rate%>" hidden>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label text-sm-right required">Số lượng</label>
                    <div class="col-xs-12 col-sm-8">
                        <input type="number" id="soLuong" name="soLuong" class="form-control form-control-sm" value="<%= items.soLuong%>">
                        <span class="form-message" style = "color: red;"></span>
                    </div>
                </div>
                <div id="picker"></div>
                
                <div class="form-group row">
                    <label for="status" class="col-sm-2 col-form-label text-sm-right">Status</label>
                    <div class="col-xs-12 col-sm-8">
                        <select id="status" name="status" class="custom-select custom-select-sm">
                            <option value="novalue">Choose Status</option>
                            <option value="active" <%=(items.status=="active" ? 'selected="selected"' : '' ) %> >
                                Active</option>
                            <option value="inactive" <%=(items.status=="inactive" ? 'selected="selected"' : '' ) %> >
                                Inactive</option>
                        </select>
                        <span class="form-message" style = "color: red;"></span>
                    </div>
                </div>
                <input type="hidden" name="id" value="<%= items.id%>" >
            </div>
            <div class="card-footer">
                <div class="col-12 col-sm-8 offset-sm-2">
                    <button type="submit" class="btn btn-sm btn-success mr-1">
                        Submit</button>
                    <a href="/admin/donHang" class="btn btn-sm btn-danger mr-1">
                        Cancel</a>
                </div>
            </div>
        </form>

    </div>

    <!--Custom Validator-->
    <script src="/backend/js/customValidator.js"></script> 
    <script>
        Validator({
            form: '#form-donHang',
            errorSelector: '.form-message',
            rules: [
                Validator.isRequired('#name'),
                Validator.minLength('#name', 6, 'Name phải có tối thiểu 6 ký tự'),
                Validator.isRequired('#ordering'),
                Validator.minMaxInt('#ordering', 1, 100, 'Ordering phải số nguyên và có giá trị từ 1 đến 100'),
                Validator.isSelected('#status', 'Vui lòng chọn trường status'),
            ],
        });
    </script>
    <script>
        mobiscroll.datepicker('#picker', {
        controls: ['calendar', 'time'],
        touchUi: true
        })
    </script>
